# Compiled class file
*.class

# Log file
*.log

# Spring Boot & Gradle
.gradle
build/
!**/src/main/**/build/
!**/src/test/**/build/
!gradle/wrapper/gradle-wrapper.jar

# IDEs (IntelliJ, VS Code, STS)
.idea
*.iws
*.iml
*.ipr
out/
.vscode/
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/

# OS
.DS_Store
Thumbs.db

# Others
HELP.md
target/
*.jar
*.war
*.zip